header{
    height: 600px;
    width: 100vw;
    background: url('img/A3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}